{% block calendar_widget %}
   <div class='ajax-loader' style='padding-left: 30px;'><img src='{{ asset('bundles/app/img/ajax-loader.gif') }}'></div>
   <div id="calendar"></div>


<script>
{% if calendar_listado is not defined %}
{% set color = sonata_admin.admin.getColor() %}
{% set tipo = sonata_admin.admin.getTipo() %}
{% set editable = true %}
{% set minTime = sonata_admin.admin.getMinTime() %}
{% set maxTime = sonata_admin.admin.getMaxTime() %}
{% set headerRight = sonata_admin.admin.getHeaderRight() %}
{% else %}

{% endif %}


$(function() {


  // page is now ready, initialize the calendar..
  var data =  dataFromForm();
  
  $('#calendar').fullCalendar({
	header: {
	    left: '<<',
	    center: 'title',
	    right: '{{ headerRight }}'
	},
    eventSources: [
	    // your event source
	    {
	      url: '{{ path('app_ajax_getdiasemanahoras') }}', // use the `url` property
	      type: 'POST',
	      data: {
	        id: data['id'],
	        tipo: data['className']
	      },
	      color: '{{ color }};',    // an option!
	      textColor: 'black',  // an option!
	      error: function() {
        	alert('there was an error while fetching events!');
      	   },
	    }

	    // any other sources...

	  ],
   defaultView: 'agendaWeek',
   weekends: true,
   locale: 'es',
   slotDuration: '01:00:00',
   allDaySlot:false,
   selectable: true,
   editable: {{ editable }},
   slotLabelFormat:'H:mm', 
   minTime: '{{ minTime }}',
   maxTime: '{{ maxTime }}',
   loading: function( isLoading, view ) {
            if(isLoading) {// isLoading gives boolean value
                $('.ajax-loader').show();
            } else {
                $('.ajax-loader').hide();
            }
        }
    ,
   {% if calendar_listado is not defined %}
   eventClick:function(event, element) {
   		if (confirm('¿Quieres borrar la hora?')) {
   			$.ajax({
				  url: "/ajax/deletediasemanahora/" + event.id,
				  method: 'GET'
				}).done(function(res) { 
				 	if (res) {
				 		$('#calendar').fullCalendar('removeEvents',event._id);
				 		$('#calendar').fullCalendar( 'rerenderEvents' )
				 	}
				}
			);

   		}
   },                                 
   select:function(start, end){
   		
    	var uniqid = data['uniqid'];
   		var tipohora = {{ tipo }};
    	$.ajax({
			  url: "/ajax/savediasemanahora",
			  data: {'tipohora': tipohora, 'id': data['id'], 'start': start._i, 'end': end._i, 'className': data['className']},
			  method: 'POST'
			}).done(function(res) { 
			 	var event = {'id': res.id, 'start': res.start, 'end': res.end, 'title': res.title,   backgroundColor: '{{ color }}' };
		         $('#calendar').fullCalendar( 'renderEvent', event);
		         $('#calendar').fullCalendar( 'rerenderEvents' )
			}
		);
    },
    {% endif %}
  });
});


{% if calendar_listado is not defined %}
function dataFromForm() {
	var ret = [];
	var action = $('form').attr('action');
	var arr = action.split('/');
	var get = arr[arr.length-1].split("uniqid=");
	ret['uniqid'] = get[1];
	ret['id'] = arr[arr.length-2]
	ret['className'] = arr[arr.length-3]
	return ret;
}
{% else %}
function dataFromForm() {
	var ret = [];
	ret['uniqid'] = '';
	ret['id'] = 0
	ret['className'] = '{{ className }}';
	return ret;
}
{% endif %}
</script>
{% endblock %}
