<div id="{{ calendar }}"></div>
<script>
$(function() {


  // page is now ready, initialize the ..
  $('#{{ calendar }}').fullCalendar({
	header: {
	    left: '',
	    center: 'title',
	    right: '{{ headerRight }}'
	},
    eventSources: [
	    // your event source
	    {
	      url: '{{ url }}', // use the `url` property
	      type: 'POST',
	      data: {
	        tipo: '{{ tipo }}'
	      },
	      textColor: 'black',  // an option!
	      backgroundColor: 'red',
	      error: function() {
        	alert('there was an error while fetching events!');
      	   },
	    }

	    // any other sources...

	  ],
   defaultView: 'agendaWeek',
   weekends: true,
   locale: 'es',
   slotDuration: '01:00:00',
   allDaySlot:false,
   selectable: false,
   editable: false,
   slotLabelFormat:'H:mm',
   slotLabelInterval: false,
   minTime: '{{ minTime }}',
   maxTime: '{{ maxTime }}',
   displayEventTime : false,
   loading: function( isLoading, view ) {
            if(isLoading) {// isLoading gives boolean value
                console.info('loading');
            } else {
                $('.ajax-loader-{{ calendar }}').hide();
            }
        }
    ,
  })
});

</script>