<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="description" content="Adoración Eucarística Perpetua en BILBAO">
<meta name="keywords" content="Adoración, Eucarística, Jesús, 24 horas, Bilbao, Indautxu, Perpetua, Rezar, Orar, Adoradores">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% set headerCss = 'bundles/app/css/header' ~ version ~ '.css' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('bundles/app/css/fullcalendar.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/web.css') }}">
<link rel="stylesheet" href="{{ asset(headerCss) }}">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}""></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ asset('bundles/sonataadmin/vendor/jquery.scrollTo/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/i18n/jquery-ui-i18n.min.js') }}"></script>
<script src="{{ asset('bundles/sonatacore/vendor/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>  

<script src="{{ asset('bundles/app/js/fullcalendar.js') }}"></script>
<script src="{{ asset('bundles/app/js/es.js') }}"></script>
<script src="{{ asset('bundles/app/js/web.js') }}"></script>
<title>Adoración Eucarística Perpetua BILBAO</title>
</head>
<body>
	<header class="">
		<div class="container-fluid d-none d-md-block head">
			<div class='row'>
				<div class='col-md-3' style="padding-left: 0px!important">
					<img src="{{ asset('bundles/app/img/papa3.jpg') }}" class=''>
				</div>
				<div class='col-md-6 head-center text-right'>
					<div class='main-title'>
						ADORACIÓN EUCARÍSTICA PERPETUA EN BILBAO
					</div>
					<div class='main-subtitle'>
						<span style="margin-right: 25px;">Donde el Señor te espera</span><br /> las 24 horas de los 365 días
					</div>
				</div>
				<div class='col-md-3 text-right' style="padding-right: 0px!important">
					<img src="{{ asset('bundles/app/img/obispo.jpg') }}" class=''>
				</div>
			</div>
		</div>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>
  				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	  				<ul class="navbar-nav mr-auto sf-menu">
						<li  class="current"><a href='javascript:void(0)' onClick="javascript:goto(this,'home');">Inicio</a></li>
						<li><a href='javascript:void(0)' onClick="javascript:goto(this,'noticias');">Noticias</a></li>
						<li><a href='javascript:void(0)' onClick="javascript:goto(this,'gracias');">Intenciones y acción gracias</a></li>
						<li><a href='javascript:void(0)' onClick="javascript:goto(this,'oracion');">Rezar</a></li>
						<li><a href="#contacto" onclick="javascript:goto(this,'home');">Contacto</a></li>
					</ul>
				</div>
				<div class="d-md-none title-sm">ADORACIÓN EUCARÍSTICA PERPETUA BILBAO</div>
			</nav>
	</header>
