<div class='row'>
    <div class="col-xs-12 p-3">
        <h5>{{ object.titulo }}</h5>
    </div>
</div>
<hr>
<div class='row'>
    <div class="col-xs-12  p-2">
        {% autoescape %}
        {% if object.posicion == 0 %}
        <p>{{ object.contenido|nl2br }}
         <img src="/noticias/{{ object.foto }}" class="img-fluid" alt="" align="right"  style="padding: 5px"></p>
        {% elseif object.posicion == 1 %}
         <p>{{ object.contenido|nl2br }}
         <img src="/noticias/{{ object.foto }}" class="img-fluid" alt="" align="left" style="padding: 5px"></p>
        {% elseif object.posicion == 2 %}
            <p>{{ object.contenido|nl2br }}</p>
            {% if object.foto != '' %}
           <div style="text-align: center;"><img src="/noticias/{{ object.foto }}" class="img-fluid" alt="" style="padding: 5px"></div>
           {% endif %}
        {% elseif object.posicion == 3 %}
            {% if object.foto != '' %}
           <div style="text-align: center;"><img src="/noticias/{{ object.foto }}" class="img-fluid" alt="" style="padding: 5px"></div>
           {% endif %}
           <p>{{ object.contenido|nl2br }}</p>
        {% else %}
        <p>{{ object.contenido|raw }}</p>
        {% endif %}
        {% endautoescape %}
    </div>
</div>